@import "tailwindcss/theme.css";
@plugin "@tailwindcss/typography";


article .markdown {
  @apply prose dark:prose-invert;
  max-width: none;
}

article .markdown pre {
  margin: 0;
}
article .markdown table th, article .markdown table td {
  @apply px-2!;
}

.theme-doc-toc-desktop > ul {
  @apply py-0.5!;
}

.theme-doc-toc-desktop > ul {
  @apply border-l-gray-200! border-l;
}

.theme-doc-toc-desktop .table-of-contents__link {
  @apply text-gray-500!;
}

.theme-doc-toc-desktop .table-of-contents__link * {
  @apply text-gray-500!;
}

.theme-doc-toc-desktop .table-of-contents__link:hover {
  @apply text-gray-800!;
}

.theme-doc-toc-desktop .table-of-contents__link:hover * {
  @apply text-gray-800!;
}

.theme-doc-toc-desktop .table-of-contents__link.table-of-contents__link--active {
  @apply font-bold text-gray-800!;
}

.theme-doc-toc-desktop .table-of-contents__link.table-of-contents__link--active * {
  @apply font-bold text-gray-800!;
}


/* Table */

article .markdown table {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

article .markdown table thead {
  @apply bg-gray-100!;
}

article .markdown table tr {
  @apply border-1!;
}

article .markdown table th,
article .markdown table td {
  @apply border-gray-100!;
}

article .markdown table tr:nth-child(even) {
  @apply bg-gray-50!;
}

/* Tabs */

article .markdown .tabs .tabs__item {
  padding: var(--ifm-tabs-padding-vertical) var(--ifm-tabs-padding-horizontal) !important;
}
