@import "tailwindcss/theme.css";

@layer base {
  #tw {
    @import "tailwindcss/preflight.css" layer(base);
  }
}

@import "tailwindcss/utilities.css" layer(utilities);

@plugin "@tailwindcss/typography";
@custom-variant dark (&:is([data-theme="dark"] *));



/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f97316;
  --ifm-color-primary-dark: #ea580c;
  --ifm-color-primary-darker: #c2410c;
  --ifm-color-primary-darkest: #9a3412;
  --ifm-color-primary-light: #fb923c;
  --ifm-color-primary-lighter: #fdba74;
  --ifm-color-primary-lightest: #fed7aa;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-card-background-color: #ffffff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fb923c;
  --ifm-color-primary-dark: #f97316;
  --ifm-color-primary-darker: #ea580c;
  --ifm-color-primary-darkest: #c2410c;
  --ifm-color-primary-light: #fdba74;
  --ifm-color-primary-lighter: #fed7aa;
  --ifm-color-primary-lightest: #fef3c7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-background-surface-color: #1e1e1e;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

